@model OrderDetailViewModel

<div class="m-2">
    <h2 class="text-center">Order '@Model.Order.Id'</h2>

    <table class="table table-striped table-bordered shadow-sm">
        <thead class="thead-dark">
            <tr>
                <th>Status</th>
                <th>Total price</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Order.Status</td>
                <td>@Model.Order.TotalPrice.ToString()</td>
                <td>@Model.Order.CreatedDate.ToString("g")</td>
            </tr>
    </table>


    <div class="mt-2 mb-2">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex flex-row gap-2">
            <form asp-controller="Order" asp-action="CancelOrder" method="post">
                <input type="hidden" asp-for="@Model.Order.Id" name="orderId" />
                <input class="btn bg-black text-white" type="submit" value="Cancel order" />
            </form>
            <form asp-controller="Order" asp-action="PayForOrder" method="post">
                <input type="hidden" asp-for="@Model.Order.Id" name="orderId" />
                <input class="btn bg-black text-white" type="submit" value="Pay for order" />
            </form>
        </div>
    </div>
    <h3>Products ordered:</h3>
    <table class="table table-striped table-bordered shadow-sm">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Order.ProductDetails)
            {
                <tr>
                    <td>@line.Product.Name</td>
                    <td>@line.Product.Description</td>
                    <td>@line.Product.Category</td>
                    <td>@line.ItemsCount</td>
                    <td>@line.Product.Price.ToString("c")</td>

                </tr>
            }
            <tr>
                <th colspan="4">Total price</th>
                <td>@Model.Order.TotalPrice.ToString("c")</td>
            </tr>
        </tbody>
    </table>
    <h3>Order history:</h3>
    <table class="table table-striped table-bordered shadow-sm">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.Order.Entries)
            {
                <tr>
                    <td>@entry.Id</td>
                    <td>@entry.Message</td>
                    <td>@entry.CreatedDate.ToString("g")</td>
                </tr>
            }
        </tbody>
    </table>
</div>