@model ProductHomeViewModel

@{
    var selectedCategory = Model.Category;
    var currentRoute = "pagination";
    var returnUrl = (this.ViewContext?.HttpContext?.Request?.Path ?? "/") + this.ViewContext?.HttpContext.Request.QueryString;

    string[] allSortingRoutes = new[]
    {
        "paginationNewest",
        "paginationOldest",
        "paginationCheapest",
        "paginationPriciest",
    };

    string[] allSortCriteriaNames = new[]
    {
        "Newest",
        "Oldest",
        "Cheapest",
        "Priciest",
    };

    switch (Model.CurrentValueSortedBy)
    {
        case "newest":
            currentRoute = "paginationNewest";
            break;
        case "oldest":
            currentRoute = "paginationOldest";
            break;
        case "cheapest":
            currentRoute = "paginationCheapest";
            break;
        case "priciest":
            currentRoute = "paginationPriciest";
            break;
        default:
            currentRoute = "pagination";
            break;
    }

    var cultureInfo = new CultureInfo("en-US");
    CultureInfo.CurrentCulture = cultureInfo;

    string selectedOrderByClass = "text-white bg-black";
    string unselectedOrderByClass = "text-black bg-white";

    List<(string, string, string)> controllerActionAndNameOfProductAction = new List<(string, string, string)>
    {
        ("Cart", "AddToCart", "Add to cart"),
    };
    if (Model.IsUserAdmin)
    {
        controllerActionAndNameOfProductAction.Add(("ProductAdmin", "Edit", "Edit"));
        controllerActionAndNameOfProductAction.Add(("ProductAdmin", "Delete", "Delete"));
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 bg-light border-right shadow-sm p-4">
            <form asp-controller="Home" asp-action="ApplyCriteriaSearchForm" method="post">
                <div asp-validation-summary=All></div>
                <input type="hidden" name="productName" id="productName" value="@Model.ProductName" />
                <div>
                    <label><b>Price</b></label>
                    <div>
                        <div class="form-group mt-2 mb-2">
                            <label class="control-label" asp-for="@Model.MinPrice">Min Price</label>
                            <input class="form-control" asp-for="@Model.MinPrice" name="minPrice" placeholder="Min price..." />
                        </div>
                        <div class="form-group mt-2 mb-2">
                            <label class="control-label" asp-for="@Model.MaxPrice">Max Price</label>
                            <input class="form-control" asp-for="@Model.MaxPrice" name="maxPrice" placeholder="Max price..." />
                        </div>
                    </div>
                </div>
                <div style="height: 1px;" class="border mt-2 mb-2"></div>
                <div>
                    <label class="control-label" asp-for="@Model.Category"><b>Category</b></label>
                    <div class="form-group mt-1 mb-1">
                        <select name="category" class="form-control">
                            @if (selectedCategory == null)
                            {
                                <option selected value="@null">Any</option>
                            }
                            else
                            {
                                <option value="@null">Any</option>
                            }
                            @foreach (var category in Model.AllCategories)
                            {
                                @if (selectedCategory == category)
                                {
                                    <option selected value="@category">@category</option>
                                }
                                else
                                {
                                    <option value="@category">@category</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <input type="hidden" asp-for="@Model.PagingInfo.Page" />
                <button type="submit" class="btn btn-outline-dark">
                    Apply
                </button>
                <a class="btn btn-outline-dark" asp-controller="Home" asp-route-productName="@Model.ProductName" asp-action="Index">Reset</a>
            </form>
        </div>
        <div class="col-9 p-4" style="overflow-y: auto; height: 700px">
            @if (!string.IsNullOrEmpty(Model.ProductName))
            {
                <div class="d-block">
                    <h3 class="d-inline">Search result for '@Model.ProductName'</h3>
                    <a asp-controller="Home" asp-action="Index" class="d-inline btn float-left"><i class="fa-solid fa-x"></i></a>
                </div>
            }
            <div class="d-flex justify-content-between bg-light mt-2 mb-2 p-1 shadow">
                <div class="m-2">
                    @for (int i = 0; i < allSortCriteriaNames.Length; ++i)
                    {
                        <a sorted-page-link
                           page-route-when-unselected="@allSortingRoutes[i]"
                           page-route-when-selected="pagination"
                           page-current-route="@currentRoute"
                           sorting-criteria-base-class="btn border"
                           sorting-criteria-selected-class="@selectedOrderByClass"
                           sorting-criteria-not-selected-class="@unselectedOrderByClass">@allSortCriteriaNames[i]</a>
                    }
                </div>
                <div page-model="@Model.PagingInfo" page-route=@currentRoute
                     page-arrow-class="btn"
                     page-class="btn p-1"
                     page-selected-class="btn bg-black text-white p-1"
                     class="d-flex flex-row shadow-sm m-2"
                     number-of-pages-from-selected-page-visible="3"
                     page-left-symbol="fa-solid fa-angle-left black"
                     page-right-symbol="fa-solid fa-angle-right"></div>
            </div>
            <table class="table table-striped table-bordered shadow">
                <thead class="table-dark">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Date of creation</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model.Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>@product.Category</td>
                            <td>@product.Description</td>
                            <td>@product.Price.ToString("c")</td>
                            <td>@product.DateOfCreation.ToString("U")</td>
                            <td>
                                @foreach (var (controller, action, name) in controllerActionAndNameOfProductAction)
                                {
                                    <form asp-controller="@controller" asp-action="@action" method="get">
                                        <input type="hidden" name="productId" value="@product.Id" />
                                        <input type="hidden" name="returnUrl" value="@returnUrl" />
                                        <button type="submit" class="btn text-white bg-black m-1">
                                            @name
                                        </button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.IsUserAdmin)
            {
                <form class="mw-100" asp-controller="ProductAdmin" asp-action="Create" method="get">
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    <button type="submit" class="btn text-white bg-black w-100">
                        Add New Product
                    </button>
                </form>
            }
        </div>
    </div>
</div>
